body {
	margin: 0;
	padding: none;
	width: 100%;
}

header {
	width: 100%;
	height: 150px;
	background: black;

	clear: both;
}

h1 {
	font-family: sans-serif;

	margin: none;
	color: white;

	text-align: center;
	position: relative;
	top: 75px;
}


ul li:first-child {
	float: left;
	position: relative;
	left:-40px;
	margin: 5px;
}

ul li:last-child {
	float: right;
	margin: 5px;
}


a {
	font-family: sans-serif;
	width: 50px;
	height: 50px;
	background: pink;

	display: inline-block;
	text-align: center;
}

p {
	max-width: 50%;
	font-family: sans-serif;
	text-align: center;
	margin: 0 auto;
	margin-top:  10px;
}

.ecran {
	width: 300px;
	height: 500px;
	border: solid;
	background: white;

	margin: 0 auto;
	margin-top: 30px;

}

.barre {
	width: 300px;
	height: 50px;
	background: #AC1D1C;

}

.bouteille {
	width: 70px;
	height: 200px;
	background: white;
	border: solid;

	margin: 0 auto;
	position: relative;
	top: 120px;

	overflow: hidden;

	z-index: 5000;
}

.vin {
	width: 150px;
	height: 250px;
	background: #AC1D1C;

	position: relative;
	right: 25px;
	top: 300px;

	-webkit-animation: deplacement 2000ms linear 1 forwards;

}

@-webkit-keyframes deplacement{
	0% 		{-webkit-transform: translateY(0); }
	
	100% 	{-webkit-transform: translateY(-300px); }
}